<% if is_english_language%>
  <h1>Editing user</h1><br />
  <%= render 'form' %>
  <%= link_to 'Show', @user %> 
<%  else %>
  <h1>Edytuj użytkownika</h1><br />
  <%= render 'form' %>
  <%= link_to 'Pokaż', @user %> 
<% end %>


