<% if is_english_language%>

<h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>

<%  else %>

<h1>Nowy użytkownik</h1>

<%= render 'form' %>

<%= link_to 'Wróć', users_path %>

<% end %>