<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @contact_setting.email %>
</p>


<%= link_to 'Edit', edit_contact_setting_path(@contact_setting) %> |
<%= link_to 'Back', contact_settings_path %>
