Poznaj nasze zdanie o: 

<table>
  <tr>
    <th></th>    
  </tr>

<% @postulates.each do |postulate| %>
  <tr>
    <td><%= link_to postulate.commentary, postulate %></td>   
  </tr>
<% end %>
</table>